.nav{
	position: relative;
	min-height: $base-navbar-height;

	&>li {
		position: relative;
		display: block;
	}

	&>li>a {
		display: block;
		line-height: $line-height-computed;
		padding: ( $base-nav-height - $line-height-computed ) / 2 10px ;

		&:hover {
			text-decoration: none;
		}
	}
}


.nav-sub {

	&>li {
		position: relative;
		display: block;

		&>a {
			display: block;
			line-height: $line-height-computed - 3;
			padding: ( $base-navsub-height - $line-height-computed - 3 ) / 2 20px;
		}
	}
}



//==color
.bg-primary {

	.nav>li>a {

		color: $theme-primary-color-lightest;

		&:hover {
			background-color: $theme-primary-color-light;
		}
	}

	.nav>li.active {

		a {
			background-color: $theme-primary-color-dark;
			cursor: default;
		}
	}
}

.bg-info {

	.nav>li>a {
		color: $theme-info-color-lightest;

		&:hover {
			background-color: $theme-info-color-light;
		}
	}


	.nav>li.active {

		&>a {
			background-color: $theme-info-color-dark;
			cursor: default;
		}
	}
}

.bg-success {

	.nav>li>a {
		color: $theme-success-color-lightest;

		&:hover {
			background-color: $theme-success-color-light;
		}
	}

	.nav>li.active {

		&>a {
			background-color: $theme-success-color-dark;
			cursor: default;
		}
	}
}

.bg-warning {

	.nav>li>a {
		color: $theme-warning-color-lightest;

		&:hover {
			background-color: $theme-warning-color-light;
		}
	}

	.nav>li.active {

		&>a {
			background-color: $theme-warning-color-dark;
			cursor: default;
		}
	}
}

.bg-danger {

	.nav>li>a {
		color: $theme-danger-color-lightest;

		&:hover {
			background-color: $theme-danger-color-light;
		}
	}

	.nav>li.active {

		&>a {
			background-color: $theme-danger-color-dark;
			cursor: default;
		}
	}
}

.bg-black {

	.nav>li>a {
		color: $theme-black-color-lightest;

		&:hover {
			background-color: $theme-black-color-light;
		}
	}

	.nav>li.active {

		&>a {
			background-color: $theme-black-color-dark;
			cursor: default;
		}
	}


}


.bg-dark {

	.nav>li>a {

		color: $theme-dark-color-lightest;

		&:hover {
			background-color: $theme-dark-color-light;
		}
	}

	.nav>li.active {

		&>a {
			background-color: $theme-dark-color-light;
			cursor: default;
		}
	}

	.nav-sub {
		background-color: $theme-dark-color-darker;
	}
}

.bg-light {

	.nav>li>a {
		color: $theme-light-color-lightest;

		&:hover {
			background-color: $theme-light-color-light;
		}
	}

	.nav>li.active {

		&>a {
			background-color: $theme-light-color-dark;
			cursor: default;
		}
	}
}

.bg-purple {

	.nav>li>a {
		color: $theme-purple-color-lightest;

		&:hover {
			background-color: $theme-purple-color-light;
		}
	}

	.nav>li.active {

		&>a {
			background-color: $theme-purple-color-dark;
			cursor: default;
		}
	}
}

.bg-yellow {

	.nav>li>a {
		color: $theme-yellow-color-lightest;


		&:hover {
			background-color: $theme-yellow-color-light;
		}
	}

	.nav>li.active {

		&>a {
			background-color: $theme-yellow-color-dark;
			cursor: default;
		}
	}
}

.bg-pink {

	.nav>li>a {
		color: $theme-pink-color-lightest;

		
		&:hover {
			background-color: $theme-pink-color-light;
		}
	}

	.nav>li.active {

		&>a {
			background-color: $theme-pink-color-dark;
			cursor: default;
		}
	}
}