//== padding
.no-padding {
	padding: 0!important;
}
.no-padding-h {
	padding-right: 0!important;
	padding-left: 0!important;
}
.no-padding-v {
	padding-top: 0!important;
	padding-bottom: 0!important;
}
.p-xs {
	padding: $base-spacing-xs;
}
.p-sm {
	padding: $base-spacing-sm;
}
.p-nm {
	padding: $base-spacing;
}
.p-md {
	padding: $base-spacing-md;
}
.p-lg {
	padding: $base-spacing-lg;
}

.p-h {
	padding-left: $base-spacing;
	padding-right: $base-spacing;
}

.p-h-xs {
	padding-left: $base-spacing-xs;
	padding-right: $base-spacing-xs;
}
.p-h-sm {
	padding-left: $base-spacing-sm;
	padding-right: $base-spacing-sm;
}

.p-h-lg {
	padding-left: $base-spacing-lg;
	padding-right: $base-spacing-lg;
}

.p-v {
	padding-top: $base-spacing;
	padding-bottom: $base-spacing;
}
.p-v-xs {
	padding-top: $base-spacing-xs;
	padding-bottom: $base-spacing-xs;
}
.p-v-sm {
	padding-top: $base-spacing-sm;
	padding-bottom: $base-spacing-sm;
}

.p-v-lg {
	padding-top: $base-spacing-lg;
	padding-bottom: $base-spacing-lg;
}



//== margin
.no-margin {
	margin: 0!important;
}
.no-margin-h {
	margin-right: 0!important;
	margin-left: 0!important;
}
.no-margin-v {
	margin-top: 0!important;
	margin-bottom: 0!important;
}
.m-xs {
	margin: $base-spacing-xs;
}
.m-sm {
	margin: $base-spacing-sm;
}
.m-nm {
	margin: $base-spacing;
}
.m-md {
	margin: $base-spacing-md;
}
.m-lg {
	margin: $base-spacing-lg;
}

.m-h {
	margin-left: $base-spacing;
	margin-right: $base-spacing;
}

.m-h-xs {
	margin-left: $base-spacing-xs;
	margin-right: $base-spacing-xs;
}
.m-h-sm {
	margin-left: $base-spacing-sm;
	margin-right: $base-spacing-sm;
}

.m-h-lg {
	margin-left: $base-spacing-lg;
	margin-right: $base-spacing-lg;
}

.m-v {
	margin-top: $base-spacing;
	margin-bottom: $base-spacing;
}
.m-v-xs {
	margin-top: $base-spacing-xs;
	margin-bottom: $base-spacing-xs;
}
.m-v-sm {
	margin-top: $base-spacing-sm;
	margin-bottom: $base-spacing-sm;
}

.m-v-lg {
	margin-top: $base-spacing-lg;
	margin-bottom: $base-spacing-lg;
}

.m-t {
	margin-top: $base-spacing;
}
.m-t-xs {
	margin-top: $base-spacing-xs;
}
.m-t-sm {
	margin-top: $base-spacing-sm;
}
.m-t-md {
	margin-top: $base-spacing-md;
}
.m-t-lg {
	margin-top: $base-spacing-lg;
}

.m-b {
	margin-bottom: $base-spacing;
}
.m-b-xs {
	margin-bottom: $base-spacing-xs;
}
.m-b-sm {
	margin-bottom: $base-spacing-sm;
}
.m-b-md {
	margin-bottom: $base-spacing-md;
}
.m-b-lg {
	margin-bottom: $base-spacing-lg;
}

.m-l {
	margin-left: $base-spacing;
}
.m-l-xs {
	margin-left: $base-spacing-xs;
}
.m-l-sm {
	margin-left: $base-spacing-sm;
}
.m-l-md {
	margin-left: $base-spacing-md;
}
.m-l-lg {
	margin-left: $base-spacing-lg;
}

.m-r {
	margin-right: $base-spacing;
}
.m-r-xs {
	margin-right: $base-spacing-xs;
}
.m-r-sm {
	margin-right: $base-spacing-sm;
}
.m-r-md {
	margin-right: $base-spacing-md;
}
.m-r-lg {
	margin-right: $base-spacing-lg;
}