
// headings

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: $base-headings-font-family;
	font-weight: $base-headings-font-weight;
	line-height: $base-headings-line-height;
	color: $base-headings-color;
	margin: 0px;
	padding: $base-headings-padding;

	small,
	.small {
		font-weight: normal;
		line-height: 1;
		color: $base-headings-small-color;
		margin-left: $base-spacing-xs;
	}
}

h1, .h1,
h2, .h2,
h3, .h3 {

	small,
	.small {
		font-size: 65%;
	}
}
h4, .h4,
h5, .h5,
h6, .h6 {

	small,
	.small {
		font-size: 75%;
	}
}

h1,.h1 { font-size: $font-size-h1 }
h2,.h2 { font-size: $font-size-h2 }
h3,.h3 { font-size: $font-size-h3 }
h4,.h4 { font-size: $font-size-h4 }
h5,.h5 { font-size: $font-size-h5 }
h6,.h6 { font-size: $font-size-h6 }


// text
small,
.small {
  font-size: floor((100% * $font-size-small / $font-size-base));
}

// align
.text-left 		{ text-align: left; }
.text-right 	{ text-align: right; }
.text-center 	{ text-align: center; }

// transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

.text-muted {
	color: $base-text-muted;
}
.text-muted-more {
	color: $base-text-muted-more;
}

.text-dark {
	color: $gray-dark;
}
.text-darker {
	color: $gray-darker;
}
.text-normal {
	color: $gray;
}
.text-primary {
	color: $theme-primary-color-base;
}
.text-info {
	color: $theme-info-color-base;
}
.text-warning {
	color: $theme-warning-color-base;
}
.text-danger {
	color: $theme-danger-color-base;
}
.text-light {
	color: $theme-light-color-base;
}
.text-black {
	color: $theme-black-color-base;
}
.text-purple {
	color: $theme-purple-color-base;
}
.text-yellow {
	color: $theme-yellow-color-base;
}
.text-success {
	color :$theme-success-color-base;
}
.text-pink {
	color: $theme-pink-color-base;
}


// text size
.text-xs {font-size: $font-size-base - 2}
.text-sm {font-size: $font-size-base - 1}
.text-h1 {font-size: $font-size-h1}
.text-h2 {font-size: $font-size-h2}
.text-h3 {font-size: $font-size-h3}
.text-h4 {font-size: $font-size-h4}
.text-h5 {font-size: $font-size-h5}