//== variables
//## Font family
$font-family-sans-serif : "Helvetica Neue",Helvetica Neue,Helvetica,Arial,Lantinghei SC,Hiragino Sans GB,Microsoft Yahei,sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//## color
$gray-base: 	#000 !default;
$gray-dark: 	lighten($gray-base, 20%) !default; //#333;
$gray-darker: 	lighten($gray-base, 13.5%) !default; //#222;
$gray: 			lighten($gray-base, 33.5%) !default; //#555;
$gray-light: 	lighten($gray-base, 46.7%) !default; //#777;
$gray-lighter: 	lighten($gray-base, 93.5%) !default; //#eee;

$brand-primary:         $theme-primary-color-base !default;
$brand-success:         $theme-success-color-base !default;
$brand-info:            $theme-info-color-base !default;
$brand-warning:         $theme-warning-color-base !default;
$brand-danger:          $theme-danger-color-base !default;

//## font size
$font-size-base: 		14px !default;
$font-size-large: 		ceil(($font-size-base * 1.25)) !default;
$font-size-small: 		ceil(($font-size-base * 0.85)) !default;
$font-size-h1: 			floor(($font-size-base * 2.6)) !default; // ~36
$font-size-h2: 			floor(($font-size-base * 2.15 )) !default;
$font-size-h3: 			ceil(($font-size-base * 1.7)) !default;
$font-size-h4:			ceil(($font-size-base * 1.25)) !default;
$font-size-h5:			$font-size-base !default;
$font-size-h6: 			ceil(($font-size-base * 0.85)) !default; // ~12px

//## line height
$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//## size
$navbar-height: 	52px !default;
$nav-height:    	$navbar-height + 2;

//## screen size
$screen-xs: 		480px !default;
$screen-xs-min: 	$screen-xs !default;
$screen-phone: 		$screen-xs-min !default;
$screen-sm: 		768px !default;
$screen-sm-min: 	$screen-sm !default;
$screen-md: 		992px !default;
$screen-md-min: 	$screen-md !default;
$screen-lg: 		1200px !default;
$screen-lg-min: 	$screen-lg !default;

//## spacing
$base-spacing-xs: 	5px;
$base-spacing-sm: 	10px;
$base-spacing: 		15px;
$base-spacing-md: 	20px;
$base-spacing-lg:	30px;



//== base Some global style
//## font
$base-font-family: 				$font-family-sans-serif !default;
$base-font-size-normal: 		14px !default;
$base-font-size-large:			ceil(($base-font-size-normal * 1.25)) !default;
$base-font-size-small: 			ceil(($base-font-size-normal * 0.85)) !default;
$base-font-color: 	 			$gray-dark !default;
//## body
$base-body-bg-color:			#fff !default;
//## link
$base-link-color: 				$brand-primary !default;
$base-link-hover-color: 		darken($base-link-color, 15%) !default;
$base-link-hover-decoration: 	underline !default;

//== text
//## headings
$base-headings-font-family:		inherit !default;
$base-headings-font-weight: 	500 !default;
$base-headings-line-height: 	1.05 !default;
$base-headings-color: 			inherit !default;
$base-headings-small-color: 	$gray-light !default;
$base-headings-padding: 		15px;
$base-text-muted: 				$gray-light !default;

//== navbar
$base-navbar-height : 	$navbar-height;
$base-nav-height: 		$nav-height;
$base-navsub-height:    $nav-height - 2;

//== label
$base-label-padding: 3px;

//== button
$base-button-spacing: 6px;

//== layout
//## app
$base-app-header-height: 		$navbar-height;
$base-app-aside-width: 			230px !default;
$base-app-aside-body-bottom: 	50px !default;
$base-app-title-height: 		55px !default;

