html,body {
	width: 100%;
	height: 100%;
}

.app {

	position: relative;
	width: 100%;
	height: 100%;
	@include box-sizing(border-box);

	//== header
	.app-header {
		padding: 0;
		margin: 0;
		position: relative;
		border-radius: 0;
		z-index: 101;
		min-height: $base-app-header-height;
	}

	.app-header-fixed {
		position: fixed;
		width: 100%;
	}

	//== aside
	.app-aside {
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 100;

		.app-aside-inner {
			position: absolute !important;
			top: $base-navbar-height;
			bottom: 0;
			width: 100%;
			@include box-sizing(border-box);

			.app-aside-body {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				bottom: $base-app-aside-body-bottom;
				overflow-y: auto;
			}
		}


		.app-aside-footer {
			position: absolute !important;
			left: 0;
			bottom: 0;
			width: 100%;
			right: 0;
			height: $base-app-aside-body-bottom;
		}
	}


	//== content
	.app-content {
		height: 100%;
		position: relative;
		padding-top: $base-app-header-height;
		@include clearfix();
		width: 100%;
    	overflow: hidden;
    	@include box-sizing(border-box);

		.app-content-inner {
			position: relative;
			width: 100%;
			height: 100%;
			@include clearfix();
			background-color: #F6F7F8;
			@include box-sizing(border-box);


			.app-content-title {
				position: absolute;
				top: 0px;
				height: $base-app-title-height;
				width: 100%;
				z-index: 10;
			}

			.app-content-article-fixed-scroll {
				position: relative;
				height: 100%;
				overflow: hidden;
				@include box-sizing(border-box);
				padding-top: $base-app-title-height;
			}

			.app-content-article {
				position: relative;
				height: 100%;
				overflow-y:auto;
				@include clearfix()
			}
		}
	}
}

// shi pei
@media (min-width:$screen-sm) {

	.app-aside {
		width: $base-app-aside-width;
	}

	.app-content {
		padding-left: $base-app-aside-width;
	}


}