.panel {
	background-color: $base-panel-bg;
	@include box-shadow( 0 1px 1px rgba(0,0,0,0.05) );
	outline: $base-panel-border;

	.panel-header {
		padding: $base-spacing-sm $base-spacing;
		border-bottom: $base-panel-header-border;
	}

	.panel-body {
		padding: $base-spacing;
		@include clearfix();
	}

	.panel-footer {
		padding: $base-spacing-sm $base-spacing;
		border-top: $base-panel-header-border;
		@include clearfix();
	}
}