.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 900;
	display: none;
	overflow: hidden;
	outline: 0;
	-webkit-overflow-scrolling:touch;

	.modal-bg {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background-color: rgba(0,0,0,.6);

	}

	.modal-content {
		max-width: $base-modal-maxwidth;
		width: $base-modal-width;
		position: relative;
		background-color: $base-modal-bgcolor;
		@include box-shadow(0 3px 9px rgba(0,0,0,0.5));
		margin: 5% auto;

		.modal-header {
			padding:$base-spacing-sm  $base-spacing;
			border-bottom: $base-modal-header-border;
			background-color: $base-modal-header-header-bg;
		}

		.modal-body {
			padding:  $base-spacing;
		}

		.modal-footer {
			padding: $base-spacing-sm $base-spacing;
			border-top: $base-modal-header-border;
			background-color: $base-modal-header-header-bg;
			@include clearfix();
		}
	}
}


//close button
.modal-header {

	.close {
		position: absolute;
		top: $base-spacing - 5;
		right: $base-spacing;
	}
}


// type
.modal-alert {

	.modal-content {
		width: $base-modal-width;

		.modal-header {
			background-color: #fff;
			border-bottom: 0;
			padding-bottom: 0;
		}

		.modal-footer {
			padding-top: 0px;
			background-color: #fff;
			border-top: 0;
		}
	}
}


.modal-tips {

}